body {
    text-align: center;
}

.task {
    margin: 10px 10px 10px 10px;
    width: 15rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}

.big-checkbox {
    display: inline-block;
    margin-right: 5px;
}

.imgCard {
    height: 30px;
}

.taskForm {
    text-align: center;
    margin: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    border: 1px solid rgba(107, 83, 79, 0.452);
    border-radius: 10px;
    max-width: 700px;
    background-color: rgba(216, 191, 216, 0.185);
    display: inline-block;
}